*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(71, 71, 178);
}

.Body{
    background: radial-gradient(#fff,#200a98);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
}


button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center
}


.ButtonCart{
    position: absolute;
    top: 80px;
    right: 65px;
    background: #fdbb2d;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}


.logo{
    width: 125px;
    height: 125px;
    margin-top: 80px;
}

nav ul li{
    display: inline-block;
    margin-left: 90px;
    margin-top: 10px;
    
}

a{
    text-decoration: none;
    color: rgb(5, 25, 84);
}

p{
    color: red;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    position: absolute;
    top: 90px;
    right: 250px;
    border-radius: 28px;
    background: #f6f6f6;
    width: 600px;
    transition: background 0.25s;
}

.search:focus-within{
    background: #f1f1f1;

}
.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.btn{
    display: inline-block;
    background: orange;
    color: #0a0101;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.col-3 img{
    width: 50%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.gallery{
    width: 650px;
    display: flex;
    overflow-x: scroll;

}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;


}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backBtn, #nextBtn{
    width: 75px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.offer{
    background: radial-gradient(#fff,#363eb0);
    margin-top: 80px;
    padding: 30px 0;

}

.footer{
    background: #545485;
    color: #752424;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #171616;
}

.footerh3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-cpll-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright{
    text-align: center;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%;
}

.titles {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}

.titles::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
    
}